@tailwind base;

html {
  scroll-behavior: smooth;
}

a {
  @apply text-green-700;
}

a:hover {
  @apply border-b-2 border-green-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  
}

.content ul {
  @apply my-6;
}

.tailwind-img-override {
  height: auto !important;
  position: relative !important;
}
